/*Admin*/

#admin {
  margin-top:60px;
  height: auto;
  width:95%;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

h6 {
  color: var(--percival-dark);
  font-size: 16px;
}

#email1 {
  font-size: 12px;
  color: var(--percival-secondary);
}

textarea {
  width:100%;
  height:200px;
  border:1px solid var(--percival-primary);
  background-color: white;
  margin:10px 0px;
  padding: 10px 5px;
  font: 15px sans-serif;
  white-space: pre-line;
}

::placeholder {
  word-break: break-all;
  font-size: 14px;
  line-break: normal;
  font: 15px sans-serif;
  font-style: italic;
}

#copy1 {
  font-size: 12px;
  color: var(--percival-secondary);
}

#save-button1 {
  width:90px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background:var(--percival-primary);
  text-align: center;
  font-size: 13px;
  color: white;
}

/*Admin ok*/

#ok-text {
  width: 100%;
  font-size: 12px;
  color: darkgreen;
  margin:10px 0px;
}

#error-text {
  width: 100%;
  font-size: 12px;
  color: red;
  margin:10px 0px;
}
