/*Appraisals*/

#appraisals{
  padding-top:50px;
  padding-bottom:50px;
}

.level {
  margin-left:50px;
  width: calc(100% - 100px);
  line-height: 25px;
  display: block;
  overflow:hidden;
  padding: auto;
  color:#aaa;
}
@media only screen and (max-width:500px){
  .level {
     width:95%;
     margin-left:10px;
     height: 75px;
  }
}

.level + .level {
  border-top:2px dashed #aaa;
}

.your-level{
  color:var(--percival-secondary);
  width:10px;
  font-size:15px;
  margin-bottom: 10px;
  margin-right: 25px;
}
@media only screen and (max-width:500px) {
  .your-level {
    width:20px;
    margin-left: 20px;
    margin-top:25px;
  }
}

.level-label{
  display:flex;
  justify-content:center;
  margin-top: 30px;
  width:5%;
  float: left;
}

.keep-cards{
  width: calc(100% - 100px);
  line-height: 25px;
  min-height: 90px;
  float: left;
}

.card{
  display:flex;
  justify-content:wrap;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 15px;
  margin-top:10px;
  margin-right: 10px;
  margin-left: 20px;
  width:180px;
  float: left;
  height:60px;
  text-align: left;
  line-height: 25px;
}
@media only screen and (max-width:502px){
  .card {
    width:25%;
    margin-left: 40px;
    margin-top: 10px;
    height: 50px;
    text-align: center;
  }
}
@media only screen and (max-height:500px){
  .card {
    width:25%;
    margin-left: 15%;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card.dragging {
  opacity: 0.4;
}

.drag-target{
  background-color: pink;
}
