#header {
   height: 75px;
   background: var(--percival-header);

   display: flex;
   justify-content: space-between;

   border-bottom:1px solid var(--percival-header);
}


#logo-img {
  height: 40px;
  margin-left: 15px;
}
@media only screen and (max-width:504px) {
  #logo-img {
    display:none;
  }
}


#menu {
  display: flex;
}

.tab {
  font-size: 16px;
  color: white;
  padding: 0px 20px;
}
@media only screen and (max-width:504px) {
  .tab{
    font-size:12px;
  }
}

.tab.selected {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-color: var(--percival-background);
  border-bottom-style: solid;
  border-bottom-width: 4px;
}


#session {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

#user-name{
  font-size: 15px;
  color:var(--percival-secondary);
  margin-right: 7px;
}
@media only screen and (max-width:504px), screen and (max-height:504px){
  #user-name{
    font-size:12px;
  }
}

.drop-button {
    border: none;
    cursor: pointer;
    font-size: 10px;
    color: black;
  }

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-list {
  display: none;
  font-size: 10px;
  position: absolute;
  background-color: #f1f1f1;
  line-height: 12px;
  min-width: 60px;
  margin-top: 8px;
  overflow: auto;
  right: 0;
  z-index: 1;
}

.show {display: block;}
