/**** Login */

#login {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: flex;
  flex-direction:column;
  align-items:center;
  color:var(--percival-dark);
}
@media only screen and (max-height:500px){
  #login{
    width: 65%;
    height:49%;
    margin-top: 40px;
  }
}

#magic-email-field {
  width: 100%;
  height: 30px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#mail-magic {
  width: 100%;
  border: solid 1px var(--percival-primary);
  font-size: 16px;
  color: var(--percival-dark);
  padding: 10px;
}

#send-magic {
  width:70px;
  flex-shrink: 0;
  background-color:var(--percival-primary);
  color: white;
  font-size: 14px;
}

#login-button {
  margin-top: 30px;
  width:100%;
  display: flex;
  align-items: center;
  background:var(--percival-primary);
  padding: 2px;
}

#google-logo {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  overflow: hidden;
  padding:6px;
  background:white;
}

#google-label {
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

#magic-login {
  margin-top:85px;
  display:flex;
  flex-direction: column;
  align-items:center;
  color: var(--percival-dark);
  line-height: 18px;
  font-size:16px;
  text-align: center;
}
@media only screen and (max-height:400px){
  #magic-login {
    margin-top:30px;
  }
}

strong{
  color: var(--percival-secondary);
}