.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin: 0px 10px ;
}

:root {
  --percival-blue: #486ece;
  --percival-dark: rgb(40,40,40);
}

#header {

   border-top-color: var(--percival-blue);
   border-top-style: solid;
   border-top-width: 3px;
   border-bottom-color: lightgray;
   border-bottom-style: solid;
   border-bottom-width: 1px;


   display: flex;
   justify-content: space-between;

   height: 75px;
   background: white;
 }

#logo {
  font-size: 14px;
  color: var(--percival-dark);
  border: 1px solid var(--percival-dark);
  padding: 0px 50px;
}

#menu {
  display: flex;
}


.tab {

  font-size: 14px;
  color: var(--percival-dark);
  padding: 0px 20px;
}

.selected {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-color: var(--percival-blue);
  border-bottom-style: solid;
  border-bottom-width: 4px;
}


#session {
  display: flex;
  margin-right: 20px;
  align-items: center;
}


#login {
  font-size: 14px;                        /* tamanho da fonte*/
  color: var(--percival-dark);            /* cor da fonte (branco)*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-top:130px;
 /* margin-left:30%;
  margin-right:30%;*/
}

/**** Appraisals */

.new-level {
  width: calc(100% - 100px);
  height: 100px;
  padding: auto;
  background-color: white;
  opacity: 0.5;
  border-radius: 6px;
  margin: 15px 15px auto auto;
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
}


/**** Footer */

:root {
  --footer-height: 70px;
}

html { height: 100%; }
body { min-height: 100%; padding:0; margin:0; position:relative; }
body::after { content: ""; display:block; height: var(--footer-height); }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);

  font-size: 14px;
  color: white;
  background: var(--percival-dark);
  display: flex;
  align-items: center;
  padding-left: 20px;
}
