 /**** Limpar as formatações do CSS */
body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  font-size: 14px;
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  background: none;
  border: none;
  box-sizing: border-box;
  white-space: initial;
  outline: none;
  cursor: inherit;
}
*::before, *::after {
  font: inherit;
  color: inherit;
  box-sizing: inherit;
}


/**** Scenario Control */
.force-display-none {display: none !important;}




