.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
  float: left;
  margin: 8px 10px 0px 8px;
}
@media only screen and (max-height:504px), screen and (max-width:504px){
  .circle{
    display:none;
  }
}

:root {
  /* Palette */
  --percival-primary: #2b4588;
  --percival-secondary: rgb(194, 109, 41);
  --percival-background: #e9ebed;
  --percival-dark: rgb(40,40,40);
  --percival-alert: rgb(192, 28, 28);
  --percival-header: var(--percival-primary);
}

body {
  background-color: var(--percival-background);
}



/*Header*/

.logo-percival{
  height: 40px;
}
@media only screen and (max-width:400px){
  .logo-percival{
    display:none;
  }
}

/*Dropdown*/

.drop-button {
  border: none;
  cursor: pointer;
  font-size: 10px;
  color: black;
}

#session::after{
  content: '';
  color: red;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  font-size: 10px;
  /*display: none;*/
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  margin-top: 8px;
  overflow: auto;
}

.dropdown-list a {
  color: black;
  display: block;
}

.dropdown-list > li {
  font-size: 10px;
  color: black;
  margin: 10px;
}

#header {
   display: flex;
   justify-content: space-between;
   border-bottom:1px solid var(--percival-header);
   height: 75px;
   background: var(--percival-header);
 }

#logo {
  margin-left: 15px;
}
@media only screen and (max-width:504px), screen and (max-height:504px){
  #logo{
    display:none;
  }
}
#menu {
  display: flex;
}

.tab {
  font-size: 14px;
  color: white;
  padding: 0px 20px;
}
@media only screen and (max-width:504px), screen and (max-height:504px){
  .tab{
    font-size:12px;
  }
}

.selected {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-color: var(--percival-background);
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

#session {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

#user-name{
  font-size: 15px;
  color:var(--percival-secondary);
  margin-right: 7px;
}
@media only screen and (max-width:504px), screen and (max-height:504px){
  #user-name{
    font-size:12px;
  }
}


/*Admin*/

#admin{
  margin-top:60px;
  height: auto;
  width:95%;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

h6{
  color: var(--percival-dark);
  font-size: 16px;
}
@media only screen and (max-width:400px){
  h6 {
    font-size: 10px;
   }
 }
 @media only screen and (max-width:700px){
  h6 {
    font-size: 12px;
   }
 }
#email1{
  font-size: 12px;
  color: var(--percival-secondary);
}
@media only screen and (max-width:400px){
  #email1 {
    margin-right: 20%;
   }
 }

textarea {
  width:100%;
  height:200px;
  border:1px solid var(--percival-primary);
  background-color: white;
  margin:10px 0px;
  padding: 10px 5px;
  font: 15px sans-serif;
  white-space: pre-line;
}

::placeholder{
  word-break: break-all;
  font-size: 14px;
  line-break: normal;
  font: 15px sans-serif;
  font-style: italic;
}

@media only screen and (max-width:400px){
  ::placeholder {
    font-size:10px;
  }
 }

#copy1{
  font-size: 12px;
  color: var(--percival-secondary);
}
 @media only screen and (max-height:400px) and (max-width:400px){
  #copy1 {
    font-size: 12px;
  }
 }

#save-button1{
  width:90px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background:var(--percival-primary);
  text-align: center;
  font-size: 13px;
  color: white;
}
@media only screen and (max-width:400px){
  #save-button1 {
   margin-right: 20%;
   font-size: 10px;
   padding: 15px;
  }
 }
 @media only screen and (max-width:700px){
  #save-button1 {
   width:50px;
   font-size: 10px;
   padding: 15px;
  }
 }

/*Admin ok*/

#ok-text{
  width: 100%;
  font-size: 12px;
  color: darkgreen;
  margin:10px 0px;
}

#error-text{
  width: 100%;
  font-size: 12px;
  color: red;
  margin:10px 0px;
}

/*Appraisals*/

#appraisals{
  padding-top:50px;
  padding-bottom:50px;
}

.level {
  margin-left:50px;
  width: calc(100% - 100px);
  line-height: 25px;
  min-height: 90px;
  display: block;
  overflow:hidden;
  padding: auto;
  border-bottom:2px dashed #aaa;
  color:#aaa;
}

@media only screen and (max-width:500px){
  .level {
    width:95%;
    margin-left:10px;
    height: 75px;
  }
}
.your-level{
  color:black;
  width:10px;
  font-size:20px;
  margin-top:60px;
}
@media only screen and (max-width:500px){
  .your-level {
    width:20px;
    margin-left: 20px;
    margin-top:25px;
  }
}

#id-your-level{
  color: var(--percival-secondary);
  width:50px;
  height:100%;
  font-size:15px;
  margin-left: 5px;
  margin-bottom: 10px;
}
@media only screen and (max-width:400px){
  #id-your-level{
    margin-top:10px;
  }
}
.level-label{
  display:flex;
  justify-content:center;
  height:100%;
  width:5%;
  float: left;
  margin-left: 10px;
}

.card{
  display:flex;
  justify-content:wrap;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 15px;
  margin-top:10px;
  margin-right: 10px;
  margin-left: 20px;
  width:180px;
  float: left;
  height:60px;
  text-align: left;
  line-height: 25px;

}
@media only screen and (max-width:502px){
  .card {
   width:25%;
   margin-left: 40px;
   margin-top: 10px;
   height: 50px;
   text-align: center;
  }
}
@media only screen and (max-height:500px){
  .card {
   width:25%;
   margin-left: 15%;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dragging-card {
  opacity: 0.4;
}
@media only screen and (max-width:502px){
  .dragging-card {
   width:20%;
   margin-top: 5px;
  }
 }
 @media only screen and (max-height:500px){
  .dragging-card {
   width:25%;
   margin-left: 20%;
  }
 }

.drag-target{
  margin-left:50px;
  width: calc(100% - 100px);
  line-height: 25px;
  display: block;
  overflow: hidden;
  padding: auto;
  border-bottom:2px dashed #aaa;
  color:#aaa;
}
@media only screen and (max-width:499px){
  .drag-target {
   width:95%;
   margin-left:10px;
   height: 75px;
  }
 }

.modal {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
@media only screen and (max-width:499px){
  .modal {
    z-index:0;
  }
}

.modal-content{
   background-color: var(--percival-background);
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   height: 80%;
}
@media only screen and (max-width:499px){
  .modal-content {
    height: 35%;
    width:100%;
    margin-top: 90%;
    border:none;
  }
}

div#certainty strong{
   font: 20px sans-serif;
}
@media only screen and (max-width:499px){
  div#certainty strong {
    font-size: 16px;
  }
}

.certainty-text{
   color: var(--percival-dark);
   font-size: 18px;
   margin-top: 25px;
}
@media only screen and (max-width:499px){
  .certainty-text {
    font-size: 16px;
    margin-top: 14px;
  }
}

.circle-certainty{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  float: left;
  margin: 8px 10px 0px 8px;
  margin-left: 40px;
  margin-top: 20px;
}
@media only screen and (max-width:499px){
  .circle-certainty {
    display:none;
  }
}
.certainty-button > p{
  margin-top: 15px;
  display:flex;
  flex-wrap: wrap;
}

.certainty-button{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  float: left;
  margin-right: 5px;
  margin-top: 80px;
  margin-left: 5px;
  border: 2px solid #aaa;
  border-radius:6px;
  padding: 45px;
}
@media only screen and (max-width:499px){
  .certainty-button {
    display:flex;
    justify-content: row;
    padding: 9px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 20%;
  }
}

.certainty-icon{
  width:3px;
  height:3px;
  border: 1px solid blue;
  border-radius:2px;
  background-color: white;
  margin: 1px;
  margin-top: 46px;
  padding: 5px;
  }
.certainty-icon.active {
  background-color: var(--percival-secondary);
}

/*.certainty-button-active{
  display:flex;
  justify-content:column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  float: left;
  margin-right: 5px;
  margin-top: 90px;
  margin-left: 5px;
  border: 2px solid #aaa;
  border-radius:6px;
  padding: 50px;
  text-align: center;
}*/

.zero-percent{
   background-color: pink;
}

.twenty-percent{
   background-color: pink;
}

.forty-percent{
   background-color: pink;
}

.sixty-percent{
   background-color: pink;
}

.eigthy-percent{
   background-color: pink;
}

.hundred-percent{
   background-color: pink;
}


.modal-doing-content {
  display: flex;
  justify-content: space-between;
  background-color: #aaa;
  width: 80%;
  padding: 15px;
  height: 25px;
  margin: auto;
  border: 1px solid gray;
  color:white;
}
@media only screen and (max-width:499px){
  .modal-doing-content {
    display:none;
  }
}

.modal-doing-buttons-{
  width: 8%;
  padding: 15px;
  margin-top: -15px;
  border-radius:3px;
  background-color: blue;
}

@media only screen and (max-width:499px){
  .modal-doing-buttons-{
    display:none;
  }
}



/**** Footer */

:root {
  --footer-height: 70px;
}

html { height: 100%; }
body { min-height: 100%; padding:0; margin:0; position:relative; }
body::after { content: ''; display:block; height: var(--footer-height); }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);

  font-size: 14px;
  color: white;
  background: var(--percival-dark);
  display: flex;
  align-items: center;
  padding-left: 20px;
}
@media only screen and (max-width:401px){
  Footer{
    font-size: 12px;
    height:12%;

  }
}