 /*Limpar as formatações do CSS */
body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  background: none;
  border: none;
  box-sizing: border-box;
  /*white-space: initial;*/
  outline: none;
  cursor: inherit;
}
*::before, *::after {
  font: inherit;
  color: inherit;
  box-sizing: inherit;
}

#cenarios {
  height: 40px;
  background: #F0F0F0;
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.cenario {
  height: 40px;
  color: grey;
  font-size: 28px;
  margin-right: 20px;
  margin-top: 5px;
}

.normal {
  width: calc(100% - 100px);
  overflow: auto;
  height: 100px;
  padding: initial;
  background-color: white;
  border-radius: 6px;
  margin: 15px 15px auto auto;
  border-style: solid;
  border-width: 2px;
}


#logado {    
  font-size: 14px;                        
  color: var(--percival-dark);           
  padding: 10px 5px;
}

.new {
  width: calc(100% - 100px);
  height: 100px;
  padding: auto;
  background-color: white;
  opacity: 0.5;
  border-radius: 6px;
  margin: 15px 15px auto auto;
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
}

textarea {
  width:300px;
  height:200px;
  border-style: solid; 
  margin:100px;
  display: flex;
  align-items: center;
  font-size: 14px;                        
  color: var(--percival-dark);
  padding: 10px 5px;    
}

h6{
  font-size: 14px;                        
  color: var(--percival-dark);           
  margin:35px;
}

.textoComum{
  font-size: 10px;                        
  color: var(--percival-dark); 
  margin:10px;         
}

.saveButton {
  background-color: var(--percival-dark);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  border-radius: 6px; 
  float: left;
  padding-bottom:10px;
  margin: 11px;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sendMagic {
  
  background-color: var(--percival-dark);
  border: none;
  color: white;
  padding: 10px 5px;
  font-size: 16px;
  width:80px;
  height:26px;
  margin-right: 20px;
 }

.mailMagic {
  float: left;
  width:300px;
  height:20px;
  border-style: solid; 
  margin-left:106px;
  display: flex;
  font-size: 16px;                        
  color: var(--percival-dark);
  padding: 10px 5px;    
}

.dropbtn {
  border: none;
  cursor: pointer;
  font-size: 10px;                        
  color: var(--percival-dark); 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
}

.dropdown-content a {
  color: black;
  display: block;
}

.show {display: block;}