 /*Limpar as formatações do CSS */
body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  background: none;
  border: none;
  box-sizing: border-box;
  /*white-space: initial;*/
  outline: none;
  cursor: inherit;
}
*::before, *::after {
  font: inherit;
  color: inherit;
  box-sizing: inherit;
}

#cenarios {
  height: 40px;
  background: #F0F0F0;
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.cenario {
  height: 40px;
  color: grey;
  font-size: 28px;
  margin-right: 20px;
  margin-top: 5px;
}

textarea {
  rows: 10;
  cols: 40;
  maxlength:500;
  border:1px;
  border-style:  solid blue;
}