.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin: 0px 10px ;
}

:root {
  /* Palette */
  --percival-primary: #2b4588;
  --percival-secondary: rgb(194, 109, 41);
  --percival-dark: rgb(40,40,40);
  --percival-alert: rgb(192, 28, 28);

  --percival-header: var(--percival-primary);

}

#header {

   border-top-color: var(--percival-header);
   border-top-style: solid;
   border-top-width: 3px;
   border-bottom-color: lightgray;
   border-bottom-style: solid;
   border-bottom-width: 1px;


   display: flex;
   justify-content: space-between;

   height: 75px;
   background: white;
 }

#logo {
  font-size: 14px;
  color: var(--percival-dark);
  border: 1px solid var(--percival-dark);
  padding: 0px 50px;
}

#menu {
  display: flex;
}


.tab {

  font-size: 14px;
  color: var(--percival-dark);
  padding: 0px 20px;
}

.selected {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-color: var(--percival-header);
  border-bottom-style: solid;
  border-bottom-width: 4px;
}


#session {
  display: flex;
  margin-right: 20px;
  align-items: center;
}


/**** Login */

#login {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

  display: flex;
  flex-direction:column;
  align-items:center;
  color:var(--percival-dark);
}
#magic-email-field {
  width: 100%;
  height: 30px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#mail-magic {
  width: 100%;
  border: solid 1px var(--percival-primary);
  font-size: 16px;
  color: var(--percival-dark);
  padding: 10px;
}
#send-magic {
  width:70px;
  flex-shrink: 0;
  background-color:var(--percival-primary);
  color: white;
  font-size: 14px;
}
#login-button {
  margin-top: 30px;
  width:100%;
  display: flex;
  align-items: center;
  background:var(--percival-primary);
  padding: 2px;
}
#google-logo {
  width: 36px;
  height: 36px;
  flex-shrink: 0;  
  overflow: hidden;
  padding:6px;
  background:white;
}
#google-label {
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
}


/**** Appraisals */

.new-level {
  width: calc(100% - 100px);
  height: 100px;
  padding: auto;
  background-color: white;
  opacity: 0.5;
  border-radius: 6px;
  margin: 15px 15px auto auto;
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
}


/**** Footer */

:root {
  --footer-height: 70px;
}

html { height: 100%; }
body { min-height: 100%; padding:0; margin:0; position:relative; }
body::after { content: ""; display:block; height: var(--footer-height); }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);

  font-size: 14px;
  color: white;
  background: var(--percival-dark);
  display: flex;
  align-items: center;
  padding-left: 20px;
}
