 /**** Limpar as formatações do CSS */
body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  background: none;
  border: none;
  box-sizing: border-box;
  white-space: initial;
  outline: none;
  cursor: inherit;
}
*::before, *::after {
  font: inherit;
  color: inherit;
  box-sizing: inherit;
}


/**** Scenario Control */
.force-display-none {display: none !important;}

#situations {
  
  background: #F0F0F0;
 
  line-height: 20px;   
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.situation {
  
  color: grey;
  font-size: 12px;
  padding:12px;

}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.modal-doing-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  height: 10px;
}

.modal-doing-buttons{
  width: 50%;
  border: solid;
  margin-right: 90px
  background-color: lightblue;
}

.modal {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.certainty-button{
  float: left;
  margin-top: 80px;
  margin-left: 30px;
  border-style: solid;
  padding: 40px;
}

.certainty-text{
  color: var(--percival-dark);
  font-size: 16px;
  margin: 10px;
}

div#certainty strong{
  margin: 80px;
  font: 15px sans-serif;
}