 /**** Limpar as formatações do CSS */
body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  background: none;
  border: none;
  box-sizing: border-box;
  /*white-space: initial;*/
  outline: none;
  cursor: inherit;
}
*::before, *::after {
  font: inherit;
  color: inherit;
  box-sizing: inherit;
}


/**** Scenario Control */
.force-display-none {display: none !important;}

#scenarios {
  height: 40px;
  background: #F0F0F0;
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.scenario {
  height: 40px;
  color: grey;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 5px;
}

/*Header*/

.logo-percival{
  height: 70px;
  width: 150px;
}

/*Dropdown*/

.drop-button {
  border: none;
  cursor: pointer;
  font-size: 10px;
  color: black;
}

#session::after{
  content: "";
  color: red;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  font-size: 10px;
  /*display: none;*/
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  margin-top: 8px;
  overflow: auto;
}

.dropdown-list a {
  color: black;
  display: block;
}

.dropdown-list > li {
  font-size: 10px;
  color: black;
  margin: 10px;
}

.show {display: block;}

/*Admin*/

#team-members {
  font-size: 14px;
  color: black;
  margin: 35px;
}

textarea {
  width:400px;
  height:200px;
  border-style: solid;
  border-width: 1px;
  margin:100px;
  display: flex;
  padding: 10px 5px;
  font: 15px sans-serif;
}

::placeholder{
  word-break: break-all;
  font-size: 14px;
  line-break: normal;
  font: 15px sans-serif;
  font-style: italic;
}

.save-button {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

/*Admin ok*/

.ok-text{
  font-size: 10px;
  color: black;
  margin:10px;
}

/*Admin error*/

.error-text{
  font-size: 10px;
  color: black;
  margin:10px;
}

/*Appraisals*/

.level {
  width: calc(100% - 100px);
  height: 100px;
  min-height: min-content;
  padding: auto;
  background-color: white;
  border-radius: 6px;
  margin: 15px 15px auto auto;
  line-height: 25px;
  color:var(--percival-dark);
  border:1px solid var(--percival-primary);
  margin-left:50px;
}

.level-label{
  height: 98px;
  width: 110px;
  overflow: auto;
  padding: initial;
  background-color: lightblue;
  border-radius: 3px 0px 0px 6px;
  border-width: 1px;
  float: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 150px;
  border-radius: 6px;
  float: left;
  padding-bottom:10px;
  margin: 11px;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
